 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}
.jumbotron {
  background-color:#b56f20;
  color: white;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
/* Round pic corners */
#lakoffpic {
  border-radius: 25px 25px 25px 25px;
}

/* Bold p and li element text */
li {
  font-weight: bold;
}

p {
  font-weight: bold;
  color: white;
}

#Portfolio {
  background-color: black
}

#saying {
  color: black;
  font-style: italic;

}